In [1]:
# Dependencies
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import scipy.stats as sts

%matplotlib inline

In [2]:
# Load in csv
ride_data_to_load = "../PyBer_Analysis/ride_data.csv"
city_data_to_load = "../PyBer_Analysis/city_data.csv"

In [3]:
# Load, then read the ride and city data into dataframe
ride_data_df = pd.read_csv(ride_data_to_load)
city_data_df = pd.read_csv(city_data_to_load)

In [4]:
# Create dataframes
# df = pd.DataFrame
# df = df.style

In [5]:
# Ride data view, get count 2,375
ride_data_df.head()

                 city             date   fare       ride_id
0  Lake Jonathanshire  1/14/2019 10:14  13.83  5.739410e+12
1  South Michelleport   3/4/2019 18:24  30.24  2.343910e+12
2  Port Samanthamouth   2/24/2019 4:29  33.44  2.005070e+12
3          Rodneyfort  2/10/2019 23:22  23.44  5.149250e+12
4          South Jack    3/6/2019 4:28  34.58  3.908450e+12

In [6]:
# City data view, get count 120
city_data_df.head()

           city  driver_count   type
0   Richardfort            38  Urban
1  Williamsstad            59  Urban
2   Port Angela            67  Urban
3    Rodneyfort            34  Urban
4   West Robert            39  Urban

In [7]:
# List city types
city_types = city_data_df["type"].unique()
city_types

array(['Urban', 'Suburban', 'Rural'], dtype=object)

In [8]:
# Merge ride_data and city_data dataframes
rideshare_data_df = pd.merge(
    ride_data_df, city_data_df, how="left", on=["city", "city"]
)
rideshare_data_df

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,1/14/2019 10:14,13.83,5.739410e+12,5,Urban
1,South Michelleport,3/4/2019 18:24,30.24,2.343910e+12,72,Urban
2,Port Samanthamouth,2/24/2019 4:29,33.44,2.005070e+12,57,Urban
3,Rodneyfort,2/10/2019 23:22,23.44,5.149250e+12,34,Urban
4,South Jack,3/6/2019 4:28,34.58,3.908450e+12,46,Urban
...,...,...,...,...,...,...
2370,Michaelberg,4/29/2019 17:04,13.38,8.550370e+12,6,Rural
2371,Lake Latoyabury,1/30/2019 0:05,20.76,9.018730e+12,2,Rural
2372,North Jaime,2/10/2019 21:03,11.11,2.781340e+12,1,Rural
2373,West Heather,5/7/2019 19:22,44.94,4.256850e+12,4,Rural
2374,Newtonview,4/25/2019 10:20,55.84,9.990580e+12,1,Rural

In [9]:
# Create a dataframe for each city type to do calculations

rural_city_type_df = rideshare_data_df[rideshare_data_df["type"] == "Rural"]
suburban_city_type_df = rideshare_data_df[rideshare_data_df["type"] == "Suburban"]
urban_city_type_df = rideshare_data_df[rideshare_data_df["type"] == "Urban"]

In [10]:
# Total rides by city type info

rural_rides_df = rural_city_type_df.groupby(["city"]).count()["ride_id"]
rural_rides_df = rural_rides_df.sum()
suburban_rides_df = suburban_city_type_df.groupby(["city"]).count()["ride_id"]
suburban_rides_df = suburban_rides_df.sum()
urban_rides_df = urban_city_type_df.groupby(["city"]).count()["ride_id"]
urban_rides_df = urban_rides_df.sum()

In [11]:
#print (rural_rides_df, suburban_rides_df, urban_rides_df)

In [12]:
# Total drivers by city type info

rural_driver     = rural_city_type_df.groupby(["city"]).mean()["driver_count"]
rural_driver     = rural_driver.sum()
suburban_driver  = suburban_city_type_df.groupby(["city"]).mean()["driver_count"]
suburban_driver  = suburban_driver.sum()
urban_driver     = urban_city_type_df.groupby(["city"]).mean()["driver_count"]
urban_driver     = urban_driver.sum()

In [13]:
#print (rural_driver, suburban_driver, urban_driver)

In [14]:
# Total fares by city type info

rural_total_fare = rural_city_type_df.groupby(["city"]).sum()["fare"]
rural_total_fare = rural_total_fare.sum()
suburban_total_fare = suburban_city_type_df.groupby(["city"]).sum()["fare"]
suburban_total_fare = suburban_total_fare.sum()
urban_total_fare = urban_city_type_df.groupby(["city"]).sum()["fare"]
urban_total_fare = urban_total_fare.sum()

In [15]:
rural_city_type_df = np.sum(rural_total_fare)
print(f" ${rural_total_fare:,.2f}")

 $4,327.93

In [16]:
suburban_city_type_df = np.sum(suburban_total_fare)
print(f" ${suburban_total_fare:,.2f}")

 $19,356.33

In [17]:
urban_city_type_df = np.sum(urban_total_fare)
print(f" ${urban_total_fare:,.2f}")

 $39,854.38

In [18]:
# Average rides cost by city type

rural_avg_ride = rural_total_fare / rural_rides_df  # * 100
# rural_avg_ride

suburban_avg_ride = suburban_total_fare / suburban_rides_df  # * 100
# suburban_avg_ride

urban_avg_ride = urban_total_fare / urban_rides_df  # * 100, round((urban_avg_ride),2)
# urban_avg_ride

In [19]:
# Test calc
urban_avg_ride

24.525772307692314

In [20]:
# Average rides cost (per driver) by city type

rural_avg_driver_ride = rural_total_fare / rural_driver  # * 100
# rural_avg_driver_ride

suburban_avg_driver_ride = suburban_total_fare / suburban_driver  # * 100
# suburban_avg_driver_ride

urban_avg_driver_ride = urban_total_fare / urban_driver  # * 100
# urban_avg_driver_ride

In [21]:
# Calculate rides, drivers and fares
all_rides = (rural_rides_df, suburban_rides_df, urban_rides_df)
all_rides

(125, 625, 1625)

In [22]:
# Calculate rides, drivers and fares
all_drivers = (rural_driver, suburban_driver, urban_driver)
all_drivers

(78, 490, 2405)

In [23]:
# Calculate rides, drivers and fares
all_fares = (rural_total_fare, suburban_total_fare, urban_total_fare)
all_fares

(4327.93, 19356.33, 39854.38000000001)

In [24]:
# Calculate rides, drivers and fares
avg_faresperride = (rural_avg_ride, suburban_avg_ride, urban_avg_ride)
avg_faresperride

(34.62344, 30.970128000000003, 24.525772307692314)

In [25]:
# Calculate rides, drivers and fares
avg_faresperdriver = (
    rural_avg_driver_ride,
    suburban_avg_driver_ride,
    urban_avg_driver_ride,
)
avg_faresperdriver

(55.48628205128205, 39.50271428571429, 16.57146777546778)

In [26]:
rideshare_data_df.dtypes

city             object
date             object
fare            float64
ride_id         float64
driver_count      int64
type             object
dtype: object

In [27]:
# Data Summary
rideshare_summary_data_df = pd.DataFrame(
    {
        "City Types": city_types,
        "Total Rides": all_rides,
        "Total Drivers": all_drivers,
        "Total Fares": all_fares,
        "Avg Fare/Ride": avg_faresperride,
        "Avg Fare/Driver": avg_faresperdriver,
    }
)
rideshare_summary_data_df

,City Types,Total Rides,Total Drivers,Total Fares,Avg Fare/Ride,Avg Fare/Driver
0,Urban,125,78,4327.93,34.623440,55.486282
1,Suburban,625,490,19356.33,30.970128,39.502714
2,Rural,1625,2405,39854.38,24.525772,16.571468

In [28]:
rideshare_summary_data_df.set_index("City Types", inplace=True)
rideshare_summary_data_df

,Total Rides,Total Drivers,Total Fares,Avg Fare/Ride,Avg Fare/Driver
City Types,,,,,
Urban,125,78,4327.93,34.623440,55.486282
Suburban,625,490,19356.33,30.970128,39.502714
Rural,1625,2405,39854.38,24.525772,16.571468

In [29]:
# pip install nb_black
%load_ext nb_black

In [30]:
%lsmagic

Available line magics:
%alias  %alias_magic  %autoawait  %autocall  %automagic  %autosave  %bookmark  %cd  %clear  %cls  %colors  %conda  %config  %connect_info  %copy  %ddir  %debug  %dhist  %dirs  %doctest_mode  %echo  %ed  %edit  %env  %gui  %hist  %history  %killbgscripts  %ldir  %less  %load  %load_ext  %loadpy  %logoff  %logon  %logstart  %logstate  %logstop  %ls  %lsmagic  %macro  %magic  %matplotlib  %mkdir  %more  %notebook  %page  %pastebin  %pdb  %pdef  %pdoc  %pfile  %pinfo  %pinfo2  %pip  %popd  %pprint  %precision  %prun  %psearch  %psource  %pushd  %pwd  %pycat  %pylab  %qtconsole  %quickref  %recall  %rehashx  %reload_ext  %ren  %rep  %rerun  %reset  %reset_selective  %rmdir  %run  %save  %sc  %set_env  %store  %sx  %system  %tb  %time  %timeit  %unalias  %unload_ext  %who  %who_ls  %whos  %xdel  %xmode

Available cell magics:
%%!  %%HTML  %%SVG  %%bash  %%capture  %%cmd  %%debug  %%file  %%html  %%javascript  %%js  %%latex  %%markdown  %%perl  %%prun  %%pypy  %%python  %%python2  %%python3  %%ruby  %%script  %%sh  %%svg  %%sx  %%system  %%time  %%timeit  %%writefile

Automagic is ON, % prefix IS NOT needed for line magics.

In [31]:
df = pd.DataFrame(rideshare_summary_data_df)
df

,Total Rides,Total Drivers,Total Fares,Avg Fare/Ride,Avg Fare/Driver
City Types,,,,,
Urban,125,78,4327.93,34.623440,55.486282
Suburban,625,490,19356.33,30.970128,39.502714
Rural,1625,2405,39854.38,24.525772,16.571468

In [32]:
## PART II: Multi-plot line ##
rideshare_data_df

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,1/14/2019 10:14,13.83,5.739410e+12,5,Urban
1,South Michelleport,3/4/2019 18:24,30.24,2.343910e+12,72,Urban
2,Port Samanthamouth,2/24/2019 4:29,33.44,2.005070e+12,57,Urban
3,Rodneyfort,2/10/2019 23:22,23.44,5.149250e+12,34,Urban
4,South Jack,3/6/2019 4:28,34.58,3.908450e+12,46,Urban
...,...,...,...,...,...,...
2370,Michaelberg,4/29/2019 17:04,13.38,8.550370e+12,6,Rural
2371,Lake Latoyabury,1/30/2019 0:05,20.76,9.018730e+12,2,Rural
2372,North Jaime,2/10/2019 21:03,11.11,2.781340e+12,1,Rural
2373,West Heather,5/7/2019 19:22,44.94,4.256850e+12,4,Rural
2374,Newtonview,4/25/2019 10:20,55.84,9.990580e+12,1,Rural

In [60]:
# Rename the columns
rideshare_data_df.rename(
    columns={
        "city": "City",
        "date": "Date",
        "fare": "Fare",
        "ride_id": "Ride ID",
        "driver_count": "No. Drivers",
        "type": "City Type",
    },
    inplace=True,
)
rideshare_data_df.head()

,City,Date,Fare,Ride ID,No. Drivers,City Type
1970-01-01 00:00:00.000000000,Lake Jonathanshire,1/14/2019 10:14,13.83,5.739410e+12,5,Urban
1970-01-01 00:00:00.000000001,South Michelleport,3/4/2019 18:24,30.24,2.343910e+12,72,Urban
1970-01-01 00:00:00.000000002,Port Samanthamouth,2/24/2019 4:29,33.44,2.005070e+12,57,Urban
1970-01-01 00:00:00.000000003,Rodneyfort,2/10/2019 23:22,23.44,5.149250e+12,34,Urban
1970-01-01 00:00:00.000000004,South Jack,3/6/2019 4:28,34.58,3.908450e+12,46,Urban

In [61]:
rideshare_data_df.index = pd.to_datetime(rideshare_data_df.index)

In [62]:
rideshare_data_df.head()

,City,Date,Fare,Ride ID,No. Drivers,City Type
1970-01-01 00:00:00.000000000,Lake Jonathanshire,1/14/2019 10:14,13.83,5.739410e+12,5,Urban
1970-01-01 00:00:00.000000001,South Michelleport,3/4/2019 18:24,30.24,2.343910e+12,72,Urban
1970-01-01 00:00:00.000000002,Port Samanthamouth,2/24/2019 4:29,33.44,2.005070e+12,57,Urban
1970-01-01 00:00:00.000000003,Rodneyfort,2/10/2019 23:22,23.44,5.149250e+12,34,Urban
1970-01-01 00:00:00.000000004,South Jack,3/6/2019 4:28,34.58,3.908450e+12,46,Urban

In [37]:
# Look at specific columns
rideshare_data_min_df = rideshare_data_df[["Fare", "City Type"]].copy()

In [39]:
# Shorten table to fare and city column
rideshare_data_min_df

                                Fare City Type
1970-01-01 00:00:00.000000000  13.83     Urban
1970-01-01 00:00:00.000000001  30.24     Urban
1970-01-01 00:00:00.000000002  33.44     Urban
1970-01-01 00:00:00.000000003  23.44     Urban
1970-01-01 00:00:00.000000004  34.58     Urban
...                              ...       ...
1970-01-01 00:00:00.000002370  13.38     Rural
1970-01-01 00:00:00.000002371  20.76     Rural
1970-01-01 00:00:00.000002372  11.11     Rural
1970-01-01 00:00:00.000002373  44.94     Rural
1970-01-01 00:00:00.000002374  55.84     Rural

[2375 rows x 2 columns]

In [40]:
rideshare_data_df.index = pd.to_datetime(rideshare_data_df.index)

In [41]:
rideshare_data_min_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2375 entries, 1970-01-01 00:00:00 to 1970-01-01 00:00:00.000002374
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Fare       2375 non-null   float64
 1   City Type  2375 non-null   object
dtypes: float64(1), object(1)
memory usage: 55.7+ KB

In [42]:
rideshare_data_df.head()

,City,Date,Fare,Ride ID,No. Drivers,City Type
1970-01-01 00:00:00.000000000,Lake Jonathanshire,1/14/2019 10:14,13.83,5.739410e+12,5,Urban
1970-01-01 00:00:00.000000001,South Michelleport,3/4/2019 18:24,30.24,2.343910e+12,72,Urban
1970-01-01 00:00:00.000000002,Port Samanthamouth,2/24/2019 4:29,33.44,2.005070e+12,57,Urban
1970-01-01 00:00:00.000000003,Rodneyfort,2/10/2019 23:22,23.44,5.149250e+12,34,Urban
1970-01-01 00:00:00.000000004,South Jack,3/6/2019 4:28,34.58,3.908450e+12,46,Urban

In [43]:
# Get list of fares by dates
all_fares_datelist = rideshare_data_min_df.groupby(["City Type"]).sum()["Fare"]
all_fares_datelist.head()

City Type
Rural        4327.93
Suburban    19356.33
Urban       39854.38
Name: Fare, dtype: float64

In [44]:
# Get list of fares by dates
all_fares_datelist = rideshare_data_df.groupby(["Date"]).sum()["Fare"]
all_fares_datelist.head()

Date
1/1/2019 0:08     37.91
1/1/2019 0:46     47.74
1/1/2019 12:32    25.56
1/1/2019 14:40     5.42
1/1/2019 14:42    12.31
Name: Fare, dtype: float64

In [45]:
rideshare_data_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2375 entries, 1970-01-01 00:00:00 to 1970-01-01 00:00:00.000002374
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   City         2375 non-null   object
 1   Date         2375 non-null   object
 2   Fare         2375 non-null   float64
 3   Ride ID      2375 non-null   float64
 4   No. Drivers  2375 non-null   int64
 5   City Type    2375 non-null   object
dtypes: float64(2), int64(1), object(3)
memory usage: 129.9+ KB

In [46]:
all_fares_datelist.head()

Date
1/1/2019 0:08     37.91
1/1/2019 0:46     47.74
1/1/2019 12:32    25.56
1/1/2019 14:40     5.42
1/1/2019 14:42    12.31
Name: Fare, dtype: float64

In [47]:
rideshare_data_min_df = rideshare_data_min_df.reset_index()

In [48]:
all_fares_datelist.head()

Date
1/1/2019 0:08     37.91
1/1/2019 0:46     47.74
1/1/2019 12:32    25.56
1/1/2019 14:40     5.42
1/1/2019 14:42    12.31
Name: Fare, dtype: float64

In [49]:
# all_fares_citylist.head()

In [50]:
pd.pivot_table(rideshare_data_df, values="Fare", index="Date", columns="City Type")

City Type       Rural  Suburban  Urban
Date
1/1/2019 0:08     NaN       NaN  37.91
1/1/2019 0:46     NaN     47.74    NaN
1/1/2019 12:32    NaN     25.56    NaN
1/1/2019 14:40    NaN       NaN   5.42
1/1/2019 14:42    NaN       NaN  12.31
...               ...       ...    ...
5/8/2019 1:54     NaN       NaN  32.69
5/8/2019 2:31     NaN       NaN  41.33
5/8/2019 4:20     NaN       NaN  21.99
5/8/2019 4:39     NaN       NaN  18.45
5/8/2019 7:29     NaN       NaN  18.55

[2361 rows x 3 columns]

In [51]:
rideshare_data_pivot_df = pd.pivot_table(
    rideshare_data_df, values="Fare", index="Date", columns="City Type"
)
rideshare_data_pivot_df.head()

City Type       Rural  Suburban  Urban
Date
1/1/2019 0:08     NaN       NaN  37.91
1/1/2019 0:46     NaN     47.74    NaN
1/1/2019 12:32    NaN     25.56    NaN
1/1/2019 14:40    NaN       NaN   5.42
1/1/2019 14:42    NaN       NaN  12.31

In [52]:
# rideshare_data_pivot_df = rideshare_data_pivot_df.reset.index()
rideshare_data_pivot_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2361 entries, 1/1/2019 0:08 to 5/8/2019 7:29
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Rural     125 non-null    float64
 1   Suburban  622 non-null    float64
 2   Urban     1617 non-null   float64
dtypes: float64(3)
memory usage: 73.8+ KB

In [53]:
# rideshare_data_df = rideshare_data_df.reset_index()

In [54]:
datemask = (rideshare_data_pivot_df.index > "2019-01-01") & (
    rideshare_data_pivot_df.index <= "2019-04-28"
)
rideshare_panda_df = pd.DataFrame(rideshare_data_pivot_df.loc[datemask])
rideshare_panda_df.head()

Empty DataFrame
Columns: [Rural, Suburban, Urban]
Index: []

In [55]:
# rideshare_panda_df.set.index  # ("Date", inplace=True)
# rideshare_panda_df

In [56]:
# Calculate totals by city time and weeks
pyber_totalfares_df = rideshare_panda_df.resample("W").sum()
pyber_totalfares_df.head()

TypeError: Only valid with DatetimeIndex, TimedeltaIndex or PeriodIndex, but got an instance of 'Index'

In [ ]:
pyber_totalfares_df.info()

In [ ]:
# rideshare_data_pivot_df.head()

In [ ]:
# rideshare_data_pivot_df.set_index("Date", inplace=True)
# rideshare_data_pivot_df.head()

In [ ]:
# pyber_fares_df = rideshare_data_pivot_df.resample("W").sum()

In [ ]:
# pyber_fares_df

In [ ]:
x_axis = pyber_totalfares_df.index
print(x_axis)

In [ ]:
y_axis_rural = pyber_totalfares_df["Rural"]
y_axis_rural.head()

In [ ]:
y_axis_urban = pyber_totalfares_df["Urban"]
y_axis_urban.head()

In [ ]:
y_axis_suburban = pyber_totalfares_df["Suburban"]
y_axis_suburban.head()

In [ ]:
# Create and format chart
import matplotlib.pyplot as plt
plt.style.use("fivethirtyeight")
fig, ax = plt.subplots(figsize=(30, 10))

ax.plot(x_axis, y_axis_urban, color="yellow", linewidth=5, label="Urban")
ax.plot(x_axis, y_axis_suburban, color="red", linewidth=5, label="Suburban")
ax.plot(x_axis, y_axis_rural, color="blue", linewidth=5, label="Rural")

ax.set_title("Total Fare by City Type", fontsize=30, weight="bold")
ax.set_xlabel("Month", fontsize=20, weight="bold")
ax.set_ylabel("Fare ($USD)", fontsize=20, weight="bold")

# Import date commands
import matplotlib.dates as mdates

months = mdates.MonthLocator()
ax.xaxis.set_major_locator(months)
month_format = mdates.DateFormatter("%b-%Y")
ax.xaxis.set_major_formatter(month_format)

# Add a legend
lgnd = plt.legend(fontsize="20", scatterpoints=1, loc="center", title="City Type")
lgnd.get_title().set_fontsize(20)
lgnd.get_title().set_weight = "bold"